body{
    background-image: url("http://i.imgur.com/9od0mSo.jpg");
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-family: "Arial", Times, Serif; 
    font-style: bold;
    font-size: 80px;
}
.textContainer{

    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color:white;
}